* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.menu-btn {
  background-color: #7f7f7f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.menu-btn:hover {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 0px;
  background-color: #7f7f7f;
  min-width: 200px;
  font-family: "Calibri"
}

.dropdown-content a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

.nav-menu:hover .dropdown-content {
  display: block;
}

.header {
    width: 100%;
    height: 40vh;
    background-image: url("fitness.jpg");
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("fitness.jpg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: large;
    width: 90%;
    margin: 30px;
    color: #ffffff;
    font-style: oblique;
    font-family: "Calibri"
}

.content2 {
    font-size: large;
    width: 90%;
    margin: 30px;
    color: #ffffff;
    font-style: oblique;
    font-family: "Calibri"
}

.content p {
  margin-bottom: 24px;
}

body {
  background-color: #7f7f7f;
}

.header {
    font-size: x-large;
    font-style: oblique;
    text-align: center;
    color: #92d050;
    font-family: "Snap ITC"
}

.header2 {
    font-size: large;
    width: 90%;
    margin: 30px;
    color: #92d050;
    font-family: "Snap ITC"
}

.header3 {
    font-size: large;
    width: 90%;
    margin: 30px;
    color: #92d050;
    font-family: "Snap ITC"
}

footer {
  text-align: center;
  padding: 20px;
  background: #555;
  margin-top: 40px;
}

footer p {
  color: #ffffff;
}

.logo img {
  position: absolute;
  height: 100px;
  width: auto;
  transform: scale(2.0);
  top: 10px;   
  left: 30px;
}

.photo {
  display: flex;
  align-items: center; 
  gap: 15px;
}

.photo img {
  width: 600px; 
  height: auto;
  margin-left: 30px;
}

.content strong {
  font-size: 20px;

}

@media (max-width: 600px) {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
